/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*, *::after, *::before {margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}
html {font-size: 62.5%;}
    @media only screen and (max-width: 575px) { html {font-size: 40%;}} 
body {font-size: 1.2rem; font-family: 'Open Sans', sans-serif; background-color: #232323;}
    @media only screen and (max-width: 575px) { body {font-size: 1.6rem;}} 
#color_wrapper {margin: 2% 25%;}
    @media only screen and (max-width: 768px) { #color_wrapper {margin: 5% 0%;}}
.square {width: 30.3%; padding-bottom: 30%; background-color: #232323; margin: 1.5%; border-radius: 10px; cursor: pointer; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;}
    @media only screen and (max-width: 768px) { .square{width: 33.3%; margin: 2%;}}
.header {background-color: #681cd9; width: 100%; padding: 1.7% 1% 1px; background-image: -webkit-gradient(linear, left top, left bottom, from(#00000079), to(#ffffff38)); background-image: -o-linear-gradient(top, #00000079, #ffffff38); background-image: linear-gradient(540deg, #00000079, #ffffff38);}
    @media only screen and (max-width: 768px) { .header {padding-top: 5%;}} 
.header h2 {color: #fafafa; text-align: center; font-weight: bold; font-family: 'Lakki Reddy', cursive; font-size: 2rem; letter-spacing: 0.05em; }
.header h4 {text-align: center;color: #ffffff85;margin: -15px 0 15px;letter-spacing: 0.05em;}
.header h1 {color: #fafafa;text-shadow: 0px 0px 10px #000; text-align: center; font-weight: bold; font-family: 'Lakki Reddy', cursive; font-size: 5rem; letter-spacing: 0.05em; line-height: 1.7;}
#controls {background-color: #fff; height: 33px;}
#playAgain {height: 33px;cursor: pointer; font-weight: bold;letter-spacing: 0.05em;text-transform: uppercase;color: #8765da; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;padding: 0 2%;}
#playAgain:hover{color: #fff; background-color: #8765da; -webkit-transition: .5s; -o-transition: .5s; transition: .5s;}
#message {height: 33px;font-weight: bold;letter-spacing: 0.05em;text-transform: uppercase;color: #232323; -webkit-transition: .5s; -o-transition: .5s; transition: .5s;display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;padding: 0 2%;}
#message.correct{color: rgb(83, 200, 123); -webkit-transition: .5s; -o-transition: .5s; transition: .5s;}
.mode {background-color: #FFF ;height: 33px;width: -webkit-fit-content;width: -moz-fit-content;width: fit-content;cursor: pointer; letter-spacing: 0.05em;text-transform: uppercase;color: #2323237a;font-weight: bold; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;padding: 0 10%;}
.mode:hover {color: #8765da; -webkit-transition: .5s; -o-transition: .5s; transition: .5s;}
.mode.active {background-color: #8765da; color: #fff; -webkit-transition: .5s; -o-transition: .5s; transition: .5s;}